body {
    background-color: pink;
}
  
h1 {
  color: hotpink;
  margin-left: 20px;
}

h2 {
  color: mediumVioletRed;
  margin-left: 20px;
}


#myDiv{
  background-color: deeppink;
  border-style: dotted;
  border-color: lightpink;
}
