body {
    background-color: deeppink;
}
  
h1 {
  color: lightpink;
  margin-left: 20px;
}

h2 {
  color: mediumVioletRed;
  margin-left: 20px;
}

p {
  color: mediumVioletRed;
  font-size: 15px;
  margin-left: 20px;
}


#myDiv{
  background-color: lightpink;
  border-style: dotted;
  border-color: pink;
}
